@import '../../styles/variables.scss';

.formContainer {
    width: 50%;
    display: flex;
    justify-content: center;

    .signUpForm {
        width: 70%;
        height: 36rem;

        .formElement {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    
        .formButtons {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
    
            .formButton {
                background-color: $black-color;
                color: $white-color;
                border-radius: 0.3rem;
                padding: 0.5rem 0rem;
                box-shadow: 0.05rem 0.05rem 0.1rem $black-color;
            }
    
            .signUpButton {
                text-align: left;
            }
        }
    }
}